.spin-animation {
  animation: rotatefull 20s linear infinite;
}

@keyframes rotatefull {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-pic {
  animation: bounce-pic 3s linear infinite;
}

@keyframes bounce-pic {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
