.tech-container {
  padding: 100px 10px 60px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(38, 72, 76),
    rgb(49, 165, 178),
    rgb(65, 68, 69)
  );
}

.hover-do {
  opacity: 0;
  transition: 0.3s;
}
.hover-do:hover {
  opacity: 1;
}
